{
  "env": {
    "es6": true,
    "node": true
  },
  "extends" : [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "root": true,
  "rules": {
    "camelcase": 2,
    "space-infix-ops": 2
  }
}
